:host {
  display: block;
  color: green;
  font-family: 'RobotoDraft', sans-serif;
  font-size:10px;
}

.olos-container {  
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

::shadow #input {
  /*font-family: sans-serif;*/
  font-weight: 700;
}